.title {
  font-weight: 700;
  font-size: 64px;
  width: 529px;
  color: #222224;
}

.subtitle {
  font-size: 20px;
  width: 505px;
  color: #797979;
}

.support {
  font-weight: 600;
  font-size: 14px;
  color: #9c9c9c;
}
