.star-container {
  gap: 4px;
}

.points {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #000000 !important;
}

.reviews {
  color: #9c9c9c !important;
  font-weight: 400 !important;
  font-size: 10px !important;
}
