.action-btn {
  border-radius: 41px;
  padding: 16px 30px;
}

.login {
  background: #ec994b;
  color: #ffffff;
}

.register {
  color: #ec994b;
  border: 1px solid #ec994b;
}

.order-now {
  background: #ec994b;
  color: #ffffff;
}

.how-to-order {
  border: 1px solid #ec994b;
  color: #ec994b;
}